body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.menu-item {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
}

.menu-item h3 {
    margin: 0;
}

.menu-item p {
    margin: 5px 0;
}

.price {
    font-weight: bold;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.checkout {
    text-align: center;
    margin-top: 20px;
}

.checkout button {
    background-color: #007bff;
}

.checkout button:hover {
    background-color: #0056b3;
}

.img-cardapio {
    width: 24vh;
}

.item-cardapio {
    margin: 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.btn-cardapio {
    align-self: flex-end;
    margin-top: auto;
}